<?xml version="1.0" encoding="US-ASCII"?>
<Configuration status="warn" strict="true" name="SimpleTodo" packages="com.parimal" jmxDisabled="true">

	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS}  %msg%n" />
		</Appender>
	</Appenders>

	<Loggers>
		
		<Logger name="log" level="trace" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>

		<Root level="warn">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>


</Configuration>
